
 @charset "UTF-8";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 /* body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 } */
 /* ================= */
 /* === */
 .h1-des{
      margin-top: 30px;
      text-align: center;
color:rgb(192, 180, 180);
font-size: 4rem;
text-shadow:5px 2px 1px  #3666c4 ;
 }
 .container th h1 {
      /* margin-top:20px ; */
       font-weight: bold;
       font-size: 1em;

   color: white;
   text-align: center;
 }
 
 .container td {

       font-weight: normal;
       font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
       text-align: center;
       overflow: hidden;
       width: 60%;
       height:60% ;
       margin: 100px auto;
   display: table;
   padding:  0 8em 0;
 }
 
 .container td, .container th {
       padding-bottom: 1%;
       padding-top: 1%;
   padding-left:1%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
       background-color: #3666c4;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
       background-color: #2C3446;
 }
 
 .container th {
       background-color: #1F2739;
       color:white ;
 }
 
 .container td:first-child { color: #f7eef0; }
 
 .container tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 }
 /* 
 .container td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line;
 } */
 .nav-bar-admain{
      width: 400px;
      display: flex;
      text-align: center;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: space-between;
      text-decoration: none;
      font-size: 3rem;
    align-items:center

 }
 .nav-bar-admain a{
      text-decoration: none;
 }
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }