
 @charset "UTF-8";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* header{
     height: 57vh;    
     background-image: linear-gradient(to right bottom,#091268a7,rgba(145, 163, 218, 0)),url('../img/startup.jpg');
     background-size: cover;
     background-position: top;
     position: relative;
     display: block;
     padding: 20px;
     clip-path: polygon(0 0 ,100% 0 ,100% 50vh ,0 80%);
     text-align: center;
} */
 
 .nav-bar-admain{
      display: flex;
      text-align: center;
      /* flex-direction: row; */
      /* justify-content: space-between; */
      /* align-content: space-between; */
      /* text-decoration: none; */
      /* font-size: 3rem; */
    align-items:center;

 }
 .canitem{
      width: 100%;
      height: 100%;
      padding-top: 100px;
      padding-bottom: 50px;
  
 }
 .nav-bar-admain a{
      text-decoration: none;
    /* border: 1px solid #3666c4;/ */
    /* border-radius: 20rem; */

 }
 .nav-bar-admain a img{
      width: 50%;
      height: 50%;

 }
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }