  
footer
{
    height: 35vh;    
    background-size: cover;
    background-image: linear-gradient(to right bottom,#8183e0,rgba(29, 133, 185, 0.8));
    background-position: top;
    position: relative;
    display: block;
    clip-path: polygon(0 20%, 100% 30%, 100% 100%, 0% 100%);
    overflow: hidden;
    margin-top: -120px;
    z-index: 80;
   text-align: center;
    color:#4b4c4d;
    
}
.footer-basic #footer-logo
{
    margin-top: 3rem;
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    
}
.center
{
  text-align: center;
  margin-left: 38rem;
  
}
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:0px;
    margin-top: 5rem;
    display: flex;
    justify-content:center;
  }
  
  .footer-basic .social  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-basic .social  a:hover {
    opacity:0.9;
    transform: scale(1.4);
  }
  
  .footer-basic .copyright {
    margin-top: 63px;
    text-align: center;
    font-size: 18px;
    color: rgb(231, 231, 231);
    margin-bottom: 0;
    font-weight: bolder;
    position: absolute;
    margin-left: -80px;

  }
  #footerQuickLink
  {
    
    width: 359px;
    height: 143px;
    float: right;
    margin-right: 9px;
    margin-top: -194px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    
  }
  #footerQuickLink ul li
  {
    display: block;
  }
  #footerQuickLink a
  {
    font-size: .8rem;
  }
  #footerQuickLink h4
  {
    color: white;
    font-size: 1.2rem;
    margin-bottom: -17px;
    margin-top: 57px;
    
  }

  #formContainer
  {
      display: none;
      position: fixed; 
      z-index: 1; 
     
      left: 810px;
      top: 388px;
    
      overflow: auto; 
      background-color: rgba(0, 0, 0, 0);
      
     
        z-index: 99;
        
  }
