.cardDelAdd{

/* background-color: hsl(245, 75%, 52%); */
/* color:white */
}
.Form-2{
/* background-color: hsl(245, 65%, 81%); */
    text-align: center;
    overflow: hidden;
    width: 70%;
    height:70% ;
    margin:6%  auto;
display: table;
/* padding:  0 8em 0; */
color: white;

}
.Form-2 h1{
    padding: 2rem;

}
.Form-2 form button{
    margin-top: 5rem;
    padding:1rem 4rem;
    background-color:  hsl(0, 0%, 100%);
    margin-bottom: 2rem;

color: black;
}
/* .Form-2 Button{

} */
.contener{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    /* width: 100%; */
 margin-top: 10%;
 margin-left: 2%;
 margin-right: 2%;

}
.cardDelAdd{
     width: '16rem';
     /* height:'2rem' */
}
.pic-button{
    text-align: center;
    justify-content: center;
    text-align: center;
}
.contbtn{
    padding: 2rem;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-evenly;
border: none;
background-color: rgb(255, 255, 255);
}
.contbtn button{
    color: hsl(245, 75%, 52%);
    background-color: white;
    padding: 1rem;
    font-size: 2rem;
    border: 0.5px solid hsl(245, 75%, 52%);

}
.contener img{
   width: 100%;
  height: 30vh;
    background-color: white;
    /* border: 0.5px solid hsl(245, 75%, 52%); */
}
.all-form-pic{
    padding: 10% 15%;
    background-color: rgb(255, 255, 255);
    
}
.AddStartup-form{
    background-color:  hsl(245, 75%, 52%);
    
    box-shadow: -1em 3px .4em rgb(139, 139, 134),2px 3px .4em rgb(175, 168, 168);
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
.AddStartup-form .img{
    object-fit: contain;
    width: 100%;
    height:100% ;
    background-image: url('../img/imageedit_1_8283347347.jpg');
}
.AddStartup-form div{
    text-align: center;   
}