body{
    box-sizing: border-box;
  }
  .blog-header-img{
    width: 100%;
    height: 100%;
    padding: 50vh 0 5vh ;
    background-image: url('../img/What-are-the-legal-procedures-required-for-a-startup-In-India.jpg');
    /* position: relative; */
    background-attachment: fixed;
   background-size: contain;
   background-position: top;
    background-repeat: no-repeat;
    /* margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  
  }
  hr{
    text-align: center;
  }
  .discrption{
      margin-top:25px ;
      margin-bottom:25px ;
      margin-bottom: 70px;
      font-size: 1.1rem;
      color: rgb(148, 145, 145); 
      text-align: center;
    }
    .discrption span{
       font-size: 2.9rem;
    
    } 

    


.startup{
  display: grid;
/* width: 200px; */
grid-template-columns: repeat(3,1fr);
}
.card-header{
  background-color: rgb(64, 138, 228)  !important;
  color:white !important;
     }

     .item{
      min-height: 40rem;
      min-width:30rem;
      padding: 40px;
  background-color: blue;
  }
  
  
  
  .item img{
  background-color: rgb(255, 0, 212);
  pointer-events: none;
      width: 100%;
  height: 100%;
  border-radius: 2rem;
  }
  .inner-carousel{
  display: flex;
  background-color: rgb(246, 255, 0);
  
  }
  .carosel{
    cursor: grab;
    overflow: hidden;
  background-color: rgb(0, 153, 255);
  
  }

    /* about========================== */
  
.container1 > h1 {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color:#8183e0;
  font-size: 4rem;

}
.row-1{
  /* margin-top:25px ;
  margin-bottom:25px ;
  margin-bottom: 70px;
  margin-left: 33%; */
  /* font-weight: bold; */
  font-size: 3rem;
  font-weight: bold;
  padding-left: 30%;
  padding-right: 30%;
  color: #8183e0;
  text-align: center;
}
                              
.row-1 .script{
/* width: 20%; */
text-align: center;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}







hr {
  margin: 1px 33% 5em 33%;
  /* margin-bottom: 3em; */
  width: 35%;
}
/* cardstartup=================== */
.AppHome{
  margin: 5% 20%;

}
.companycard{
display: grid;
background-color: rgb(253, 255, 255);
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
column-gap: 1rem;
row-gap: 2rem;
border-radius:1rem ;
margin-bottom: 30rem;
}

/* button filterd */
.filter-container{
  padding-left: 30%;
  padding-right: 30%;
  color: #8183e0;
  text-align: center;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}
.filter-container button{
  /* margin: 5% 20%; */

margin-right: 2rem;
min-width: 2rem;
padding: 0.5rem 1rem;
border: none;
background-color: rgb(255, 255, 255);
color: rgb(65,98,168);
border-radius: 1rem;
border: 2px solid rgb(65,98,168);
font-weight: bold;
cursor: pointer;

}
button.active{
  background: rgb(65,98,168);
  color: wheat;
}


.companycard img{
  border-radius: 1rem;

  width: 100%;
  height: 30vh;
  object-fit: cover;
}