@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
:root{
    --Very_pale_blue: hsl(225, 100%, 98%);
--Desaturated_blue:hsl(224, 23%, 55%);
--Dark_blue:hsl(223, 47%, 23%);
--Pale_blue: hsl(225, 100%, 94%);
--Bright_blue: hsl(245, 75%, 52%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* justify-content:space-around; */
  background-repeat: no-repeat;
  
align-content: center;
  background-size: cover;
  /* background-image: url(/order-summary-component-main/images/pattern-background-desktop.svg); */
}
body{
  /* background-image:url("/Order_summary_component/order-summary-component-main/images/pattern-background-desktop.svg") */
  font-family: 'El Messiri', sans-serif;
}
.counter{
    /* margin: 100px ; */
    display: flex;
    flex-direction: column;
    /* background-image: url(/order-summary-component-main/images/pattern-background-mobile.svg); */
border-radius: 20px;
background-color: rgb(255, 255, 255);
width:100%;
height: 750px;
/* align-items: center; */
/* align-content: center; */
justify-content: space-between;

}
.contener3{
    display: grid;
    grid-template-columns: 1fr 1fr;
margin-bottom: 10px;
}
.img{

    position: relative;
}
.hero{
    width: 100%;
    height: 340px;
    /* border-radius:50% ; */
    border-top-left-radius: 7px;
    /* border-top-right-radius: 8px; */
}

.titel{
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    /* color:hsl(225, 100%, 98%) ; */
    /* color:hsl(224, 23%, 55%) ; */
    color: var(--Dark_blue);
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    font-size: 27px;
    font-size: 1.7rem;
    font-weight: 200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 35px;
    padding-left: 50px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
    height: 40px;
    z-index: 1;
}
.discraption{
    margin-top: 10px;
    
    color:hsl(224, 23%, 55%) ;
    /* align-self: center; */
align-items: center;
text-align: center;
}
.discraption p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0;
}
.discraption p:nth-child(2){
    font-size: 1.9rem;
}
.continer2{
    background-image: linear-gradient(to right bottom,#8183e0,rgba(8, 85, 59, 0.8));
color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
text-align: center;
align-items: center;
    display: grid;
    /* column-gap: 5px; */
    column-gap: 5px;
    row-gap: 2px;
    grid-template-columns: repeat(4,1fr);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius:6px;
line-height: 2rem;
}
/* .contener3 p:nth-child(1),a{
    font-weight: bold;
} */
.continer2 p{
    font-size: 1.5rem;
    font-weight: bold;
}
.continer2 a{
    text-decoration: none;
    color: #fff;
}
/* Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */