.nav-admin{
  padding-top: 12vh;
  color: gray;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding-top: 12vh;
  margin: 5% 30% 10% 30%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 5% 30% 0 30%;
}
.nav-admin a{
font-size: 2rem;
  color:   rgb(172, 73, 225);
   text-decoration: none;
}

  .dropdown-toggle {
    background-color: rgb(13 110 253)!important;
    white-space: nowrap;
    width:4.5rem!important;
    height: 4rem !important;
    border-radius: 6rem ;
  }
   .button-indrop{
        font-size: 0.5rem;
        border: none;
        color: hsl(245, 75%, 52%);
        background-color: white;
      padding: 0
      !important;
        border-radius:1px !important;
  }
  .all-button{
width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }

  .all-button img{
    border-radius: 50%;
    width: 100%;
    vertical-align: middle;
    height: 100%;
  /* border: 1px solid salmon; */

}
.all-button .text{
  text-align: center;
  padding: 17%;
  color: black;
  font-size: 1.5rem;
  /* border: 1px solid salmon; */
}
.row{
  /* border: 1px solid salmon; */
  padding: 30px;
}
  .dropdown-menu {
    --bs-dropdown-min-width: 25rem !important;
  }
  .accordion-button:not(.collapsed) {
    background-color: white !important;
  }
  .accordion-button:focus {
    border-color: white !important;
  }

  .dropdown-toggle::after {
    border: none !important;
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:rgb(227, 187, 232) !important;
    --bs-btn-border-color: #fff !important;
    --bs-btn-hover-color: rgb(252, 252, 252)!important ;
    --bs-btn-hover-bg: rgb(130, 124, 124) !important;
    --bs-btn-hover-border-color: #fff !important;
  --bs-btn-focus-shadow-rgb: #fff !important;
  --bs-btn-disabled-color: #fff !important; 
  --bs-btn-disabled-bg: #fff !important;
  --bs-btn-disabled-border-color: #fff !important;
} 

/* .css-i4bv87-MuiSvgIcon-root {
  font-size: 2.2rem !important;
} */



.tow{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.number{
  font-size: 28px;
  color: red;
  position: absolute;
  z-index: 100;
  padding-left: 45px;
}
.login{
  margin-top: 200px;
  margin-bottom: 25vh;
  margin-left: 200px;
  font-size: 50px;
}
.iconinadmain{
  font-size:'5rem';
}