.cardDelAdd{

/* background-color: hsl(245, 75%, 52%); */
/* color:white */
}
.Form-2{
/* background-color: hsl(245, 65%, 81%); */
    text-align: center;
    overflow: hidden;
    width: 70%;
    height:70% ;
    margin:6%  auto;
display: table;
/* padding:  0 8em 0; */
color: rgb(0, 0, 0);

}
.Form-2 h1{
    padding: 2rem;

}
.Form-2 form button{
    margin-top: 5rem;
    padding:1rem 4rem;
    background-color:  hsl(0, 0%, 100%);
    margin-bottom: 2rem;

color: black;
}
/* .Form-2 Button{

} */
.contener{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,400px));
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    /* width: 100%; */
    height: 70%;
    /* margin-top: -2%; */
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom: 10%;
 /* background-color: rgba(128, 128, 128, 0.289); */

}
.cardDelAdd{
     width: '10rem';
     height:'2rem'
}
.cardDelAdd img{

    border-radius: 0.5rem;
        width: 100%;
        height: 30vh;
        object-fit: contain;
}
.pic-button{
    text-align: center;
    justify-content: center;
    text-align: center;
}
.contbtn{
    padding: 0.2rem;
    border-radius: 1rem;
display: flex;
flex-direction: row;
justify-content: start;
/* justify-content: space-between; */
border: none;
background-color: rgb(255, 255, 255);
}
 button{
    /* font-size: 0.5rem; */
    border: 0.5px solid hsl(240, 50%, 98%);
    color: hsl(236, 50%, 26%);
    background-color: white;
    /* padding: 1rem; */
 border-radius: 1rem;

}
.contener img{
   width: 100%;
  height: 30vh;
    background-color: white;
    /* border: 0.5px solid hsl(245, 75%, 52%); */
}
.all-form-pic{
    padding:0 15% 10% 15%;
    background-color: rgb(255, 255, 255);
    
}
.AddStartup-form{
   
background: linear-gradient(#e66465, #9198e5);

     border: 2px solid white;
    box-shadow: -1em 3px .4em rgb(139, 139, 134),2px 3px .4em rgb(175, 168, 168);
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
.AddStartup-form .img{
    object-fit: contain;
    width: 100%;
    height:100% ;
    background-image: url('../img/imageedit_1_8283347347.jpg');
}
.AddStartup-form div{
    text-align: center;   
}


/* =============== side*/
.container2 > h1 {
    margin: 7% 0;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color:rgba(63, 40, 180, 0.8);
    font-size: 4rem;
  
  }

  @media screen and (min-width:300px) and (max-width:1300px){
  .AddStartup-form .img{

    background-image:none;

  }

  .AddStartup-form{
    grid-template-columns: 1fr;
  }
  .dropdown-toggle {
    background-color: rgb(13 110 253)!important;
    white-space: nowrap;
    width: 3rem!important;
    height: 1.2rem !important;
    /* border-radius: 6rem; */
}
}

.companycard{
    display: grid;
    background-color: rgb(253, 255, 255);
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    column-gap: 3rem;
    row-gap: 2rem;
    /* border-radius:1rem ; */
    /* margin-bottom: 30rem; */
    }