.blog {
  padding-top: 20vh;
  width: 100%;
  height: 100%;
 
}
.blog-header-img{
  width: 100%;
  height: 100%;
  /* padding: 12vh 2vh; */
  padding: 12vh;
  background-image: url('../img/alternative-search-engines-1024x512.png');
  object-fit: fill;
  position: relative;
  background-attachment: fixed;
 background-size: contain;
 background-position: top;
  background-repeat: no-repeat;
  margin: 0;
  display: block;
  /* display: grid; */
  /*  */
  /* grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column; */

}
.form-Search{
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1rem;
}
.search-container {
    width: 50%;
    margin: 200px auto;
    margin-top: 9em;
  }
  
  .search-container p {
    font-size: 1.5em;
  }
  
  .select-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .select-container .label{
    color: aliceblue;
    font-weight: bolder;
    
  }
  .select-container select {
    margin-bottom: 5px;
  }
  
  .course-cards {
    width: 100%;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 7em;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .course-card {
    width: 18rem;
    height: 23rem;
    border-radius: 7px;
  }
  
  .course-card-img:hover {
    cursor: pointer;
  }
  .course-card:hover {
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.01);
  }
  
  .course-search-input {
    width: 100%;
    /* background: url("../img/Search-icon.png") no-repeat scroll 7px 7px; */
    padding-left: 40px;
  }
  .course-search-input,
  .course-search-btn {
    display: inline-block;
  }
  
 
  
 

  .mb-3 label{
color: white;
font-weight: bolder;
  }

  

  



  

  

  
 

.formcontrol{
  padding-right: 29px;
  padding-left: 29px;
}
            






.seachbutton{
/* margin: 1.8rem 0; */
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
}





/* end About */

/* card search */

.searchcompanycard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 10px;
}


.list-group-flush>.list-group-item {
  border-width: 0 0var(--bs-list-group-border-width);
  text-align: center;
  justify-content: center;
}


a {
  text-decoration: none;
}

/* Card Styles */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #E26D5C;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1F487E;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1D3461;
  color: #fff;

}


@-webkit-keyframes pulse {
  0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }

  70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.startupName{
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}
.Employees{
  padding: 10px 15px;
  background: #fff;
  font-size: 16px;
  color: #636262;
}
.city{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #5333ed;
  color: #fff;
  border-radius: 0 0 8px 8px;
}
.city:hover{
  text-decoration: none;
  background-color: #4b1d61;
  color: #fff;
}

@media screen and (min-width:300px) and (max-width:1000px){
  .form-Search{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1rem;
    /* font-size: 0.7rem; */
  }
  .mb-3{
    display: grid;
    grid-template-rows: auto;
  }
  .seachbutton{
  margin-top: 20px;
    border-radius: 4px;
    padding: 0.2rem 0.2rem;
  }
  .form-select{

    width: 70%;
  }
  label{
    font-size: 0.9;
  }
  .blog-header-img {
padding: 0;
  background-image:none;
  display: block;
}

.mb-3 .row{

}
}